<%= form_for(@dish, url:restuarant_dishes_path(@restuarant)) do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
  
    <fieldset>
        <legend>Ingredients:</legend>
        
        <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
        <%= f.fields_for :ingredients, @dish.ingredients.build do |ings_fields| %>
            <%= ings_fields.text_field :name %>
            <label>Quantity</label>
            <input type="text" name="recipe[existing_ingredients][quantity]" class="quantity_field"><br>
        <% end %>
    </fieldset>
    <%= f.submit :class=>"btn btn-primary" %>
<% end %>

<%= link_to "Back to Dishes", "/dishes" %>